body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    background: #e7f6ff;
}

* {
    font-family: 'Inter', system-ui;
}
.wrapper{
    max-width: 1080px;
    background: white;
    margin: 30px auto;
    border-radius: 20px;
    padding: 15px 15px;
    box-sizing: border-box;
}