@import '../../variables.scss';

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .headerRight{
        display: flex;
        align-items: center;
        transition: 0.4s;
        p{margin-right: 10px;transition: 0.4s;font-weight: 700;}
    }
    .headerRight:hover{
        P{
            color: rgb(25, 118, 210);
        }
    }
    .headerLeft{
        display: flex;
        align-items: center;
        b{
            margin-left: 10px;
            font-size: 20px;
            transition: 0.4s;
        }
    }
    .headerLeft:hover{
        b{
            color: rgb(25, 118, 210);
        }
    }
}